<div class="winner" *ngIf="this.getGameState().isOver">
  <h1>WINNER IS {{this.getGameState().winner}}</h1>
</div>

<div class="board">
  <div class="board__content">
    <div class="board__row" *ngFor="let row of [0, 1, 2]">
      <app-tile *ngFor="let col of [0, 1, 2]"
                [value]="boardMap.get(col+row*3)"
                [id]="col+row*3"
                (click)="!this.checkGameEnded().isOver ? makeMove(col+row*3) : null"></app-tile>
    </div>
  </div>
</div>

<div class="reset-game">
  <div class="reset-game__btn" (click)="startNewGame()">Reset Game</div>
</div>
